@media (min-width: 576px) {
  .container {
    max-width: 767px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1em;
  }
  h1 {
    font-size: 2.6em;
  }
  h2 {
    font-size: 2.2em;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.4em;
  }
  h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1.1em;
  }
  .container {
    max-width: 990px;
    margin: 0 auto;
  }
  /* Layout */
  .no-sidebar .main-container {
    grid-template-columns: 100%;
  }
  .sidebar-left .main-container {
    grid-template-columns: 30% 70%;
  }
  .sidebar-right .main-container {
    grid-template-columns: 70% 30%;
  }
  .two-sidebar .main-container {
    grid-template-columns: 30% 40% 30%;
  }
  #main {
    order: 2;
  }
  .sidebar {
    position: relative;
    width: 100%;
    margin: 0;
  }
  /* Sidebar */
  #sidebar-left {
    order: 1;
    padding: 0 20px 0 0;
  }
  #sidebar-right {
    order: 3;
    padding: 0 0 0 20px;
  }
  .services,
  .full,
  .footer-container,
  .footer-bottom-last,
  .flex-container {
    flex-direction: row;
  }
  .full {
    margin-bottom: 1em;
  }
  .item {
    flex: 1;
    padding: 0 20px 0 0;
    margin: 0;
  }
  .item-full {
    flex: 1;
    padding: 0 0 0 0;
    margin: 0;
  }
  .item:last-child {
    padding: 0;
  }
  .service {
    margin: 0.5em;
    flex: 1 1 calc(33.333333% - 1em);
    max-width: calc(33.333333% - 1em);
  }
  /* main */
  .node-header {
    font-size: 1em;
  }
  li.taxonomy-term a {
    padding: 8px 20px;
  }
  li.node-readmore a {
    padding: 0.6em 1em;
  }
  /* Comment */
  .comment-user-picture {
    flex: 0 0 100px;
    padding: 0 10px;
  }
  /* Footer */
  .footer-bottom-last > * {
    margin-bottom: 0;
  }
  .footer-block {
    padding-right: 20px;
  }
  .last-flex-item, .last-footer-block {
    padding-right: 0;
  }
  .social-icons li {
    margin: 0;
  }
  /* components */
  .width30 {
    width: 30%;
  }
  .width40 {
    width: 40%;
  }
  .width50 {
    width: 50%;
  }
  .width60 {
    width: 60%;
  }
  .width70 {
    width: 70%;
  }
  .width80 {
    width: 80%;
  }
  .width90 {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
  th {
    padding: 10px;
  }
  td {
    padding: 5px 10px;
  }
  .site-name {
    font-size: 1.6em;
  }
  .site-slogan {
    font-size: 0.9em;
    margin-top: 2px;
  }
  .morphist {
    text-align: left;
  }
  .menu-wrap {
    position: relative;
    float: right;
    margin-left: 0;
    transition: none;
	margin-right: 0px;
  }
  .mobile-menu {
    display: none;
  }
  .main-menu {
    display: block;
  }
  .search-box-content .block {
    width: 70%;
  }
  #page-header {
    padding: 0em 0 0em 0;
  }
  .field--name-sb-banner-a-subheadline{
	  top: 42%;
  }
  .field--name-sb-banner-a-caption{
	top: 50%;
  }
  .field--name-sb-banner-a-url{
	  top: 70%;
  }
  .site-branding img {
    max-height: 80px;
    width: 125px;
  }
  .full {
    margin-bottom: 0em;
  }
  .cont-menu{
	  position: absolute;
      z-index: 16;
	  background: rgba(0,0,0,0.3);
  }
  ul.main-menu > li {
	  margin-right: 0px;
	  text-align: center;
      min-width: 100px;
      padding: 0 20px 0 20px;
  }
  ul.main-menu > li:last-of-type {
	  border-radius: 20px;
	  background: #fdda24;
  }
  /*ul.main-menu > li:last-of-type > a {
	  color:#272422;
  }*/
  .cont-block{
	padding: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
	margin: 0px;
  }
  #block-bumbum-theme-views-block-header-bum-bum-block-1 p{
	font-weight: 400;
    font-size: 2.5em;
    line-height: 1;
    padding-top: 30px;
  }
  .page-header .cont-block p{
	font-size: 1em;
    text-align: left;
    color: #272422;
    font-weight: 200;
  }
  .page-header .cont-block{
	padding: 65px 35px;
    justify-content: start;
  }
  .page-header .item-dos-tercios img{
	width: 100%;
	max-height: 500px;
    object-fit: cover;
  }
  .cont-block h1{
	color: #272422;
	font-weight:700;
  }
  .cont-block h2{
	color: #272422;
	padding-bottom: 1em;
	font-weight:700;
	text-align:left;
  }
  .cont-block p{
	font-size: 1em;
    text-align: justify;
	color: #272422;
  }
  .cont-block a{
	color: #272422;
    background: #ffffff;
    border-radius: 20px;
    padding: 0.6em 3em;
    border: none;
	width: fit-content;
  }
  .owl-carousel .owl-stage-outer {
    height: 85%;
  }
  .owl-theme .owl-nav {
    margin-top: 0px;
  }
  .footer .item-footer .cont-block a {
    padding: 0em 0em;
  }
  .full .item-60.white-background{
	  display: flex;
  }
  .item-40 .cont-block{
	  padding: 0px;
  }
  .f-territorios img:first-of-type{
		display: none;
  }
  .f-territorios .cont-block p{
	  z-index: 22;
  }
  .cont-terr {
	  max-width: 620px;
  }
  .f-territorios img:last-of-type{
	position: absolute;
    right: -80px;
    z-index: 17;
    width: 563px;
  }
  #block-revivegalleria .taxonomy-term {
    padding: 20px 20px;
    max-width: 25%;
 }
 #block-bumbum-theme-reviveiframe .layout__region {
    padding: 65px 30px;
}
}
@media (min-width: 1170px) {
  .container {
    max-width: 1170px;
  }
  .site-branding img {
    max-height: 80px;
    width: 125px;
  }
  .field--name-sb-banner-a-subheadline{
	  top: 42%;
  }
  .field--name-sb-banner-a-caption{
	top: 50%;
  }
  .field--name-sb-banner-a-url{
	  top: 70%;
  }
  .full {
    margin-bottom: 0em;
  }
  .cont-menu{
	  position: absolute;
      z-index: 16;
	  background: rgba(0,0,0,0.3);
  }
  ul.main-menu > li {
	  margin-right: 0px;
	  text-align: center;
      min-width: 100px;
      padding: 0 20px 0 20px;
  }
  ul.main-menu > li:last-of-type {
	  border-radius: 20px;
	  background: #fdda24;
  }
  /*ul.main-menu > li:last-of-type > a {
	  color:#272422;
  }*/
  .cont-block{
	padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }
  #block-bumbum-theme-views-block-header-bum-bum-block-1 p{
	font-weight: 400;
    font-size: 2.5em;
    line-height: 1;
    padding-top: 30px;
  }
  .page-header .cont-block p{
	font-size: 1em;
    text-align: left;
    color: #272422;
    font-weight: 200;
  }
  .page-header .cont-block{
	padding: 65px 50px;
    justify-content: start;
  }
  .page-header .item-dos-tercios img{
	width: 100%;
	max-height: 500px;
    object-fit: cover;
  }
  .cont-block h1{
	color: #272422;
	font-weight:700;
  }
  .cont-block h2{
	color: #272422;
	padding-bottom: 1em;
	font-weight:700;
	text-align:left;
  }
  .cont-block p{
	font-size: 1em;
    text-align: justify;
	color: #272422;
  }
  .cont-block a{
	color: #272422;
    background: #ffffff;
    border-radius: 20px;
    padding: 0.6em 2em;
    border: none;
	width: fit-content;
  }
  .footer .item-footer .cont-block{
	  margin: 10px;
  }
  .full .item-60.white-background{
	  display: flex;
  }
  .item-40 .cont-block{
	  padding: 15px;
  }
  .f-territorios img:first-of-type{
		object-fit: cover;
		object-position: right;
		width: 16%;
		display:block;
  }
  .f-territorios .cont-block p{
	  z-index: 22;
  }
  .cont-terr {
	  max-width: 500px;
  }
  .f-territorios img:last-of-type{
	position: absolute;
    right: -50px;
    z-index: 17;
    width: 672px;
  }
  #block-revivegalleria .taxonomy-term {
    padding: 20px 20px;
    max-width: 25%;
 }
 #block-bumbum-theme-reviveiframe .layout__region {
    padding: 65px 55px;
}
}
@media (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
  .site-branding img {
    max-height: 80px;
    width: 125px;
  }
  .field--name-sb-banner-a-subheadline{
	  top: 42%;
  }
  .field--name-sb-banner-a-caption{
	top: 50%;
  }
  .field--name-sb-banner-a-url{
	  top: 70%;
  }
  .full {
    margin-bottom: 0em;
  }
  .cont-menu{
	  position: absolute;
      z-index: 16;
	  background: rgba(0,0,0,0.3);
  }
  ul.main-menu > li {
	  margin-right: 0px;
	  text-align: center;
      min-width: 100px;
      padding: 0 20px 0 20px;
  }
  ul.main-menu > li:last-of-type {
	  border-radius: 20px;
	  background: #fdda24;
  }
  /*ul.main-menu > li:last-of-type > a {
	  color:#272422;
  }*/
  .cont-block{
	padding: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }
  #block-bumbum-theme-views-block-header-bum-bum-block-1 p{
	font-weight: 400;
    font-size: 2em;
    line-height: 1;
    padding-top: 30px;
  }
  .page-header .cont-block p{
	font-size: 1em;
    text-align: left;
    color: #272422;
    font-weight: 200;
  }
  .page-header .cont-block{
	padding: 60px 60px;
    justify-content: start;
  }
  .page-header .item-dos-tercios img{
	width: 100%;
	max-height: 500px;
    object-fit: cover;
  }
  .cont-block h1{
	color: #272422;
	font-weight:700;
  }
  .cont-block h2{
	color: #272422;
	padding-bottom: 1em;
	font-weight:700;
	text-align: left;
  }
  .cont-block p{
	font-size: 1em;
    text-align: justify;
	color: #272422;
  }
  .cont-block a{
	color: #272422;
    background: #ffffff;
    border-radius: 20px;
    padding: 0.6em 3em;
    border: none;
	width: fit-content;
  }
  .footer .item-footer .cont-block {
    padding: 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: fit-content;
    width: fit-content;
  }
  .full .item-60.white-background{
	  display: flex;
  }
  .item-40 .cont-block{
	  padding: 20px;
  }
  .item-60 .item-40{
	padding: 18px;
}
  .f-territorios img:first-of-type{
		object-fit: cover;
		object-position: right;
		width: 16%;
		display:block;
  }
  .f-territorios .cont-block{
	  padding: 30px 70px 40px 30px;
  }
  .f-territorios .cont-block p{
	  z-index: 22;
  }
  .cont-terr {
	  max-width: 635px;
  }
  .f-territorios img:last-of-type{
	position: absolute;
    right: 0px;
    z-index: 17;
    width: 658px;
  }
  #block-revivegalleria .taxonomy-term {
    padding: 20px 20px;
    max-width: 25%;
 }
 #block-bumbum-theme-reviveiframe .layout__region {
    padding: 65px 60px;
}
}
@media (min-width: 1850px) {
  .container {
    max-width: 1850px;
  }
  #block-revivegalleria .taxonomy-term {
    padding: 20px 20px;
    max-width: 20%;
 }
 .site-branding img {
    max-height: 80px;
    width: 125px;
  }
  .full {
    margin-bottom: 0em;
  }
  .cont-menu{
	  position: absolute;
      z-index: 16;
	  background: rgba(0,0,0,0.3);
  }
  ul.main-menu > li {
	  margin-right: 0px;
	  text-align: center;
      min-width: 100px;
      padding: 0 20px 0 20px;
  }
  ul.main-menu > li:last-of-type {
	  border-radius: 20px;
	  background: #fdda24;
  }
  /*ul.main-menu > li:last-of-type > a {
	  color:#272422;
  }*/
  .cont-block{
	padding: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }
  #block-bumbum-theme-views-block-header-bum-bum-block-1 p{
	font-weight: 400;
    font-size: 2em;
    line-height: 1;
    padding-top: 30px;
  }
  .page-header .cont-block p{
	font-size: 1em;
    text-align: left;
    color: #272422;
    font-weight: 200;
  }
  .page-header .cont-block{
	padding: 65px 60px;
    justify-content: start;
  }
  .page-header .item-dos-tercios img{
	width: 100%;
	max-height: 500px;
    object-fit: cover;
  }
  .cont-block h1{
	color: #272422;
	font-weight:700;
  }
  .cont-block h2{
	color: #272422;
	padding-bottom: 1em;
	font-weight:700;
	text-align: left;
  }
  .cont-block p{
	font-size: 1em;
    text-align: justify;
	color: #272422;
  }
  .cont-block a{
	color: #272422;
    background: #ffffff;
    border-radius: 20px;
    padding: 0.6em 3em;
    border: none;
	width: fit-content;
  }
  .footer .item-footer .cont-block {
    padding: 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: fit-content;
    width: fit-content;
  }
  .full .item-60.white-background{
	  display: flex;
  }
  .item-40 .cont-block{
	  padding: 40px;
  }
  .f-territorios img:first-of-type{
		object-fit: cover;
		object-position: right;
		width: 16%;
		display:block;
  }
  .f-territorios .cont-block{
	  padding: 100px;
  }
  .cont-terr {
	  max-width: 934px;
  }
  .f-territorios img:last-of-type{
	position: absolute;
    right: 0px;
    z-index: 17;
    width: 787px;
  }
  #block-revivegalleria .taxonomy-term {
    padding: 20px 20px;
    max-width: 25%;
 }
 #block-bumbum-theme-reviveiframe .layout__region {
    padding: 65px 60px;
}
}
@media (min-width: 1920px) {
  .site-branding {
    margin: 1em 1.3em;
  }
  .site-branding img {
    max-height: 80px;
    width: 100px;
  }
  .container {
    max-width: 100%;
  }
  .full {
    margin-bottom: 0em;
  }
  .cont-menu{
	  position: absolute;
      z-index: 16;
	  background: rgba(0,0,0,0.3);
  }
  ul.main-menu > li {
	  margin-right: 40px;
	  text-align: center;
      min-width: 100px;
      padding: 0 20px 0 20px;
  }
  ul.main-menu > li:last-of-type {
	  border-radius: 20px;
	  background: #fdda24;
  }
  /*ul.main-menu > li:last-of-type > a {
	  color:#272422;
  }*/
  .f-territorios .cont-block{
	padding: 100px;
  }
  .cont-block{
	padding: 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }
  #block-bumbum-theme-views-block-header-bum-bum-block-1 p{
	font-weight: 400;
    font-size: 2.5em;
    line-height: 1;
    padding-top: 30px;
  }
  .page-header .cont-block p{
	font-size: 1em;
    text-align: left;
    color: #272422;
    font-weight: 200;
  }
  .page-header .cont-block{
	padding: 30px 100px;
    justify-content: start;
  }
  .ses-head .cont-block{
	padding: 100px;
  }
  .ses-head .cont-block h2{
	text-align: left;
    max-width: 50px;
    line-height: initial;
  }
  .ses-head .cont-block p{
	font-size: 1em;
	font-weight: 200;
  }
  .rev-head .cont-block{
	padding: 100px;
  }
  .rev-head .cont-block h2{
	text-align: left;
    max-width: 50px;
    line-height: initial;
  }
  .rev-head .cont-block p{
	font-size: 1em;
	font-weight: 200;
  }
  .rev-head .item-dos-tercios img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: 50% 82%;
}
  .page-header .item-dos-tercios img{
	width: 100%;
	max-height: 500px;
    object-fit: cover;
  }
  .cont-block h1{
	color: #272422;
	font-weight:bold;
  }
  .cont-block h2{
	color: #272422;
	padding-bottom: 1em;
	font-weight:bold;
  }
  .cont-block p{
	font-size: 1em;
    text-align: justify;
	color: #272422;
  }
  .cont-block a{
	color: #272422;
    background: #ffffff;
    border-radius: 20px;
    padding: 0.6em 3em;
    border: none;
	width: fit-content;
  }
  .full .item-60.white-background{
	  display: flex;
  }
  .item-40 .cont-block{
	  padding: 40px;
  }
  .f-territorios img:first-of-type{
		object-fit: cover;
		object-position: right;
		width: 16%;
		display:block;
  }
  .cont-terr {
	  max-width: 996px;
  }
  .f-territorios img:last-of-type{
	position: absolute;
    right: 0px;
    z-index: 17;
    width: 789px;
  }
  #block-revivegalleria .taxonomy-term {
    padding: 20px 20px;
    max-width: 16%;
  }
}
