@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 768px) {
#block-bumbum-theme-views-block-festivales-bumbum-block-1 .full{
	flex-flow: column;
}
.item-un-tercio {
    margin: 0 0 0 0;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.3%;
    flex: 1 1 100%;
    max-width: 100%;
}
.site-branding img {
    max-height: 80px;
    width: 100px;
  }
.item-40 {
    margin: 0 0 0 0;
    padding: 50px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
}
.item-60 {
    margin: 0 0 0 0;
    padding: 50px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
}
.item-un-tercio {
    margin: 0 0 0 0;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.3%;
    flex: 1 1 45%;
    max-width: 45%;
}
.item-dos-tercios {
    margin: 0 0 0 0;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 66.6%;
    flex: 1 1 55%;
    max-width: 55%;
}
.ses-head h2{
	padding: 0;
  }
  .ses-head h2{
	line-height: 1.2;
  }
  .item-45 img{
	width: 100%;
    height: 100%;
	object-fit: cover;
  }
  .cont-somos .item-dos-tercios .cont-block {
    flex-flow: column;
}
div[id*='reproductor'] .layout--onecol:nth-child(2) {
    margin: 0px;
    width: 100%;
    height: fit-content;
    z-index: 16;
    padding: 50px;
    grid-row-start: 1;
    grid-column-start: 1;
}
div[id*='reproductor'] .layout--onecol:nth-child(2) .layout__region--content {
    margin: 50px;
    position: absolute;
    top: 26%;
    max-width: 75%;
    background: #fdda24;
    padding: 50px 100px;
}
div[id*='reproductor'] .layout--onecol:last-of-type {
    padding: 50px 0 200px 0;
    height: 40px;
    border-bottom: 2px solid #fdda24;
    margin-top: 490px;
}
.f-territorios{
	width:100%;
}
.f-territorios img{
	display:none;
}
.cont-terr {
    position: relative;
    display: inline-block;
    width: 100%;
}
.item-dos-tercios {
    margin: 0 0 0 0;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
}
#block-bumbum-theme-views-block-sessions-bumbum-block-1 full{
	flex-flow:column;
}
. footer .full{
	flex-flow:column;
}
.footer .item-footer {
    display: flex;
    margin: 0 0 0 0;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 100%;
    max-width: 100%;
}
.item-un-cuarto h2 {
    text-align: center;
    color: #272422;
    font-weight: bold;
}
.footer .item-footer .cont-block a {
    padding: 0em 0em;
  }
  .full .item-60.white-background{
	  display: flex;
  }
  .item-40 .cont-block{
	  padding: 0px;
  }
  .f-territorios .cont-block p{
	  z-index: 22;
  }
  .cont-terr {
	  max-width: 620px;
  }
  #block-revivegalleria .taxonomy-term {
    padding: 20px 20px;
    max-width: 25%;
 }
 #block-bumbum-theme-reviveiframe .layout__region {
    padding: 65px 30px;
}

  #block-bumbum-theme-talleres2022 .layout__region, #block-bumbum-theme-talleres2022cali .layout__region {
    padding: 0 35px 0 0px;
}
}
@media (min-width: 768px) {
	body {
    font-size: 1em;
  }
  h1 {
    font-size: 2.6em;
  }
  h2 {
    font-size: 2.2em;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.4em;
  }
  h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1.1em;
  }
  /* Layout */
  .no-sidebar .main-container {
    grid-template-columns: 100%;
  }
  .sidebar-left .main-container {
    grid-template-columns: 30% 70%;
  }
  .sidebar-right .main-container {
    grid-template-columns: 70% 30%;
  }
  .two-sidebar .main-container {
    grid-template-columns: 30% 40% 30%;
  }
  #main {
    order: 2;
  }
  .sidebar {
    position: relative;
    width: 100%;
    margin: 0;
  }
  /* Sidebar */
  #sidebar-left {
    order: 1;
    padding: 0 20px 0 0;
  }
  #sidebar-right {
    order: 3;
    padding: 0 0 0 20px;
  }
  .services,
  .full,
  .footer-container,
  .footer-bottom-last,
  .flex-container {
    flex-direction: row;
  }
  .full {
    margin-bottom: 0em;
  }
  .item {
    flex: 1;
    padding: 0 20px 0 0;
    margin: 0;
  }
  .item-full {
    flex: 1;
    padding: 0 0 0 0;
    margin: 0;
  }
  .item:last-child {
    padding: 0;
  }
  .service {
    margin: 0.5em;
    flex: 1 1 calc(33.333333% - 1em);
    max-width: calc(33.333333% - 1em);
  }
  /* main */
  .node-header {
    font-size: 1em;
  }
  li.taxonomy-term a {
    padding: 8px 20px;
  }
  li.node-readmore a {
    padding: 0.6em 1em;
  }
  /* Comment */
  .comment-user-picture {
    flex: 0 0 100px;
    padding: 0 10px;
  }
  /* Footer */
  .footer-bottom-last > * {
    margin-bottom: 0;
  }
  .footer-block {
    padding-right: 20px;
  }
  .last-flex-item, .last-footer-block {
    padding-right: 0;
  }
  .social-icons li {
    margin: 0;
  }
  /* components */
  .width30 {
    width: 30%;
  }
  .width40 {
    width: 40%;
  }
  .width50 {
    width: 50%;
  }
  .width60 {
    width: 60%;
  }
  .width70 {
    width: 70%;
  }
  .width80 {
    width: 80%;
  }
  .width90 {
    width: 90%;
  }
  .container {
    max-width: 768px;
  }
  th {
    padding: 10px;
  }
  td {
    padding: 5px 10px;
  }
  .site-name {
    font-size: 1.6em;
  }
  .site-slogan {
    font-size: 0.9em;
    margin-top: 2px;
  }
  .morphist {
    text-align: left;
  }
  .menu-wrap {
    position: relative;
    float: right;
    margin-left: 0;
    transition: none;
	margin-right: 0px;
  }
  .mobile-menu {
    display: none;
  }
  .main-menu {
    display: block;
  }
  .search-box-content .block {
    width: 70%;
  }
  .header-main{
	background: rgba(0,0,0,0.4);
  }
  #page-header {
    padding: 0em 0 0em 0;
  }
  .field--name-sb-banner-a-subheadline{
	  top: 42%;
  }
  .field--name-sb-banner-a-caption{
	top: 50%;
  }
  .field--name-sb-banner-a-url{
	  top: 70%;
  }
  .full {
    margin-bottom: 0em;
  }
  .cont-menu{
	  position: absolute;
      z-index: 16;
	  background: rgba(0,0,0,0.3);
  }
  ul.main-menu > li {
	  margin-right: 0px;
	  text-align: center;
      min-width: 100px;
      padding: 0 20px 0 20px;
  }
  /*ul.main-menu > li:last-of-type {
	  border-radius: 20px;
	  background: #fdda24;
  }
  ul.main-menu > li:last-of-type > a {
	  color:#272422;
  }*/
  .cont-block{
	padding: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
	margin: 0px;
  }
  #block-bumbum-theme-views-block-header-bum-bum-block-1 p{
	font-weight: 400;
    font-size: 2.5em;
    line-height: 1;
    padding-top: 30px;
  }
  .page-header .cont-block p{
	font-size: 1em;
    text-align: left;
    color: #272422;
    font-weight: 200;
  }
  .page-header .cont-block{
	padding: 65px 35px;
    justify-content: start;
  }
  .page-header .item-dos-tercios img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cont-block h1{
	color: #272422;
	font-weight:700;
  }
  .cont-block h2{
	color: #272422;
	padding-bottom: 1em;
	font-weight:700;
	text-align:left;
  }
  .cont-block p{
	font-size: 1em;
    text-align: justify;
	color: #272422;
  }
  .cont-block a{
	color: #272422;
    background: #ffffff;
    border-radius: 20px;
    padding: 0.6em 3em;
    border: none;
	width: fit-content;
  }
  .owl-carousel .owl-stage-outer {
    height: 85%;
  }
  .owl-theme .owl-nav {
    margin-top: 0px;
  }
}
@media (max-width: 992px) {
	.cont-somos .item-dos-tercios .cont-block {
		flex-flow: column;
	}
	.f-territorios img:first-of-type{
		display: none;
  }
  .f-territorios .cont-block p{
	  z-index: 22;
  }
  .cont-terr {
	  max-width: 620px;
  }
  .f-territorios img:last-of-type{
	position: absolute;
    right: -80px;
    z-index: 17;
    width: 590px;
  }
  #block-bumbum-theme-reviveiframe .layout__region {
    padding: 65px 30px;
}
.item-un-tercio {
    margin: 0 0 0 0;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.3%;
    flex: 1 1 45%;
    max-width: 45%;
}
.item-dos-tercios {
    margin: 0 0 0 0;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 66.6%;
    flex: 1 1 55%;
    max-width: 55%;
}
.ses-head h2{
	padding: 0;
  }
  .ses-head h2{
	line-height: 1.2;
  }
  .item-45 img{
	width: 100%;
    height: 100%;
	object-fit: cover;
  }
  #block-bumbum-theme-talleres2022 .layout__region, #block-bumbum-theme-talleres2022cali .layout__region {
    padding: 0 35px 0 0px;
}
div[id*='reproductor'] .layout--onecol:nth-child(2) {
    margin: 0px;
    width: 100%;
    height: fit-content;
    z-index: 16;
    padding: 50px;
    grid-row-start: 1;
    grid-column-start: 1;
}
div[id*='reproductor'] .layout--onecol:nth-child(2) .layout__region--content {
    margin: 50px;
    position: absolute;
    top: 35%;
    max-width: 75%;
    background: #fdda24;
    padding: 50px 100px;
}
div[id*='reproductor'] .layout--onecol:last-of-type {
    padding: 50px 0 200px 0;
    height: 40px;
    border-bottom: 2px solid #fdda24;
    margin-top: 490px;
}
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
  th {
    padding: 10px;
  }
  td {
    padding: 5px 10px;
  }
  .site-name {
    font-size: 1.6em;
  }
  .site-slogan {
    font-size: 0.9em;
    margin-top: 2px;
  }
  .morphist {
    text-align: left;
  }
  .menu-wrap {
    position: relative;
    float: right;
    margin-left: 0;
    transition: none;
	margin-right: 0px;
  }
  .mobile-menu {
    display: none;
  }
  .main-menu {
    display: block;
  }
  .search-box-content .block {
    width: 70%;
  }
  #page-header {
    padding: 0em 0 0em 0;
  }
  .field--name-sb-banner-a-subheadline{
	  top: 42%;
  }
  .field--name-sb-banner-a-caption{
	top: 50%;
  }
  .field--name-sb-banner-a-url{
	  top: 70%;
  }
  .site-branding img {
    max-height: 80px;
    width: 125px;
  }
  .full {
    margin-bottom: 0em;
  }
  .cont-menu{
	  position: absolute;
      z-index: 16;
	  background: rgba(0,0,0,0.3);
  }
  ul.main-menu > li {
	  margin-right: 0px;
	  text-align: center;
      min-width: 100px;
      padding: 0 20px 0 20px;
  }
  /*ul.main-menu > li:last-of-type {
	  border-radius: 20px;
	  background: #fdda24;
  }
  ul.main-menu > li:last-of-type > a {
	  color:#272422;
  }*/
  .cont-block{
	padding: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
	margin: 0px;
  }
  #block-bumbum-theme-views-block-header-bum-bum-block-1 p{
	font-weight: 400;
    font-size: 2.5em;
    line-height: 1;
    padding-top: 30px;
  }
  .page-header .cont-block p{
	font-size: 1em;
    text-align: left;
    color: #272422;
    font-weight: 200;
  }
  .page-header .cont-block{
	padding: 65px 35px;
    justify-content: start;
  }
  .page-header .item-dos-tercios img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cont-block h1{
	color: #272422;
	font-weight:700;
  }
  
  .cont-block h2{
	color: #272422;
	padding-bottom: 1em;
	font-weight:700;
	text-align:left;
  }
  .cont-block p{
	font-size: 1em;
    text-align: justify;
	color: #272422;
  }
  .cont-block a{
	color: #272422;
    background: #ffffff;
    border-radius: 20px;
    padding: 0.6em 3em;
    border: none;
	width: fit-content;
  }
  .owl-carousel .owl-stage-outer {
    height: 85%;
  }
  .owl-theme .owl-nav {
    margin-top: 0px;
  }
  .footer .item-footer .cont-block a {
    padding: 0em 0em;
  }
  .full .item-60.white-background{
	  display: flex;
  }
  .item-40 .cont-block{
	  padding: 0px;
  }
  #block-revivegalleria .taxonomy-term {
    padding: 20px 20px;
    max-width: 25%;
 }
}
@media (min-width: 1170px) {
  .container {
    max-width: 1170px;
  }
  .site-branding img {
    max-height: 80px;
    width: 125px;
  }
  .field--name-sb-banner-a-subheadline{
	  top: 42%;
  }
  .field--name-sb-banner-a-caption{
	top: 50%;
  }
  .field--name-sb-banner-a-url{
	  top: 70%;
  }
  .full {
    margin-bottom: 0em;
  }
  .cont-menu{
	  position: absolute;
      z-index: 16;
	  background: rgba(0,0,0,0.3);
  }
  ul.main-menu > li {
	  margin-right: 0px;
	  text-align: center;
      min-width: 100px;
      padding: 0 20px 0 20px;
  }
  .revive.owl-carousel{
	padding: 25px;
  }
  /*ul.main-menu > li:last-of-type {
	  border-radius: 20px;
	  background: #fdda24;
  }
  ul.main-menu > li:last-of-type > a {
	  color:#272422;
  }*/
  .cont-block{
	padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }
  #block-bumbum-theme-views-block-header-bum-bum-block-1 p{
	font-weight: 400;
    font-size: 2em;
    line-height: 1;
    padding-top: 30px;
  }
  .page-header .cont-block p{
	font-size: 1em;
    text-align: left;
    color: #272422;
    font-weight: 200;
  }
  .page-header .cont-block{
	padding: 65px 50px;
    justify-content: start;
  }
  .page-header .item-dos-tercios img{
	width: 100%;
	max-height: 500px;
    object-fit: cover;
  }
  .cont-block h1{
	color: #272422;
	font-weight:700;
  }
  .cont-block h2{
	color: #272422;
	padding-bottom: 1em;
	font-weight:700;
	text-align:left;
  }
  .cont-block p{
	font-size: 1em;
    text-align: justify;
	color: #272422;
  }
  .cont-block a{
	color: #272422;
    background: #ffffff;
    border-radius: 20px;
    padding: 0.6em 2em;
    border: none;
	width: fit-content;
  }
  .footer .item-footer .cont-block{
	  margin: 10px;
  }
  .full .item-60.white-background{
	  display: flex;
  }
  .item-40 .cont-block{
	  padding: 15px;
  }
  .f-territorios img:first-of-type{
		object-fit: cover;
		object-position: right;
		width: 16%;
		display:block;
  }
  .f-territorios .cont-block p{
	  z-index: 22;
  }
  .cont-terr {
	  max-width: 532px;
  }
  .f-territorios img:last-of-type{
	position: absolute;
    right: -50px;
    z-index: 17;
    width: 653px;
  }
  #block-revivegalleria .taxonomy-term {
    padding: 20px 20px;
    max-width: 25%;
 }
 #block-bumbum-theme-reviveiframe .layout__region {
    padding: 65px 55px;
}
  .ses-head h2{
	padding: 0;
  }
  .ses-head h2{
	line-height: 1.2;
  }
  .item-45 img{
	width: 100%;
    height: 100%;
	object-fit: cover;
  }
  div[id*='reproductor'] .layout--onecol:nth-child(2){
    margin: 0px;
    width: 100%;
    height: fit-content;
    z-index: 16;
    padding: 50px;
    grid-row-start: 1;
    grid-column-start: 1;
  }
  div[id*='reproductor'] .layout--onecol:last-of-type{
	padding: 50px 0 200px 0;
    height: 40px;
    border-bottom: 2px solid #fdda24;
    margin-top: 300px;
  }
  div[id*='reproductor'] .layout--onecol:nth-child(2) .layout__region--content{
	margin: 50px;
    position: absolute;
    top: 35%;
    max-width: 75%;
    background: #fdda24;
    padding: 50px 100px;
  }
  #block-bumbum-theme-revivegalleria .taxonomy-term{
	max-width: 22%;
  }
}
/*Ajuste para opera y Edge con barra lateral*/
@media (min-width: 1294px) {
  .container {
    max-width: 100%;
  }
  .site-branding img {
    max-height: 80px;
    width: 125px;
  }
  .field--name-sb-banner-a-subheadline{
	  top: 42%;
  }
  .field--name-sb-banner-a-caption{
	top: 50%;
  }
  .field--name-sb-banner-a-url{
	  top: 70%;
  }
  .full {
    margin-bottom: 0em;
  }
  .cont-menu{
	  position: absolute;
      z-index: 16;
	  background: rgba(0,0,0,0.3);
  }
  ul.main-menu > li {
	  margin-right: 0px;
	  text-align: center;
      min-width: 100px;
      padding: 0 20px 0 20px;
  }
  /*ul.main-menu > li:last-of-type {
	  border-radius: 20px;
	  background: #fdda24;
  }
  ul.main-menu > li:last-of-type > a {
	  color:#272422;
  }*/
  .cont-block{
	padding: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }
  div[id*='reproductor'] .layout--onecol:nth-child(2) .layout__region--content{
	top: 37%;
  }
  .item-55 .cont-block {
    padding: 0;
  }
  #block-bumbum-theme-views-block-header-bum-bum-block-1 p{
	font-weight: 400;
    font-size: 2em;
    line-height: 1;
    padding-top: 30px;
  }
  .page-header .cont-block p{
	font-size: 1em;
    text-align: left;
    color: #272422;
    font-weight: 200;
  }
  .page-header .cont-block{
	padding: 60px 60px;
    justify-content: start;
  }
  .page-header .item-dos-tercios img{
	width: 100%;
	max-height: 500px;
    object-fit: cover;
  }
  .cont-block h1{
	color: #272422;
	font-weight:700;
  }
  .cont-block h2{
	color: #272422;
	padding-bottom: 1em;
	font-weight:700;
	text-align: left;
  }
  .cont-block p{
	font-size: 1em;
    text-align: justify;
	color: #272422;
  }
  .cont-block a{
	color: #272422;
    background: #ffffff;
    border-radius: 20px;
    padding: 0.6em 3em;
    border: none;
	width: fit-content;
  }
  .ses-head h2{
	  padding: 0;
  }
  .ses-head p{
	   line-height: 1.5;
  }
  .footer .item-footer .cont-block {
    padding: 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: fit-content;
    width: fit-content;
  }
  .full .item-60.white-background{
	  display: flex;
  }
  .item-40 .cont-block{
	  padding: 20px;
  }
  .item-60 .item-40{
	padding: 15px;
}
  .f-territorios img:first-of-type{
		object-fit: cover;
		object-position: right;
		width: 16%;
		display:block;
  }
  .f-territorios .cont-block{
	  padding: 30px 70px 40px 30px;
  }
  .f-territorios .cont-block p{
	  z-index: 22;
  }
  .cont-terr {
	  max-width: 635px;
  }
  .f-territorios img:last-of-type{
	position: absolute;
    right: 0px;
    z-index: 17;
    width: 658px;
  }
  #block-revivegalleria .taxonomy-term {
    padding: 20px 20px;
    max-width: 25%;
 }
 #block-bumbum-theme-reviveiframe .layout__region {
    padding: 65px 60px;
}
div[id*='reproductor'] .layout--onecol:last-of-type{
	padding: padding: 50px 0 200px 0;;
    height: 40px;
    border-bottom: 2px solid #fdda24;
	margin-top: 0;
}
}
@media (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
  .site-branding img {
    max-height: 80px;
    width: 125px;
  }
  .field--name-sb-banner-a-subheadline{
	  top: 42%;
  }
  .field--name-sb-banner-a-caption{
	top: 50%;
  }
  .field--name-sb-banner-a-url{
	  top: 70%;
  }
  .full {
    margin-bottom: 0em;
  }
  .cont-menu{
	  position: absolute;
      z-index: 16;
	  background: rgba(0,0,0,0.3);
  }
  ul.main-menu > li {
	  margin-right: 0px;
	  text-align: center;
      min-width: 100px;
      padding: 0 20px 0 20px;
  }
  /*ul.main-menu > li:last-of-type {
	  border-radius: 20px;
	  background: #fdda24;
  }
  ul.main-menu > li:last-of-type > a {
	  color:#272422;
  }*/
  .cont-block{
	padding: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }
  div[id*='reproductor'] .layout--onecol:nth-child(2) .layout__region--content{
	top: 37%;
  }
  .item-55 .cont-block {
    padding: 0;
  }
  #block-bumbum-theme-views-block-header-bum-bum-block-1 p{
	font-weight: 400;
    font-size: 2em;
    line-height: 1;
    padding-top: 30px;
  }
  .page-header .cont-block p{
	font-size: 1em;
    text-align: left;
    color: #272422;
    font-weight: 200;
  }
  .page-header .cont-block{
	padding: 60px 60px;
    justify-content: start;
  }
  .page-header .item-dos-tercios img{
	width: 100%;
	max-height: 500px;
    object-fit: cover;
  }
  .cont-block h1{
	color: #272422;
	font-weight:700;
  }
  .cont-block h2{
	color: #272422;
	padding-bottom: 1em;
	font-weight:700;
	text-align: left;
  }
  .cont-block p{
	font-size: 1em;
    text-align: justify;
	color: #272422;
  }
  .cont-block a{
	color: #272422;
    background: #ffffff;
    border-radius: 20px;
    padding: 0.6em 3em;
    border: none;
	width: fit-content;
  }
  .ses-head h2{
	  padding: 0;
  }
  .ses-head p{
	   line-height: 1.5;
  }
  .footer .item-footer .cont-block {
    padding: 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: fit-content;
    width: fit-content;
  }
  .full .item-60.white-background{
	  display: flex;
  }
  .item-40 .cont-block{
	  padding: 20px;
  }
  .item-60 .item-40{
	padding: 15px;
}
  .f-territorios img:first-of-type{
		object-fit: cover;
		object-position: right;
		width: 16%;
		display:block;
  }
  .f-territorios .cont-block{
	  padding: 30px 70px 40px 30px;
  }
  .f-territorios .cont-block p{
	  z-index: 22;
  }
  .cont-terr {
	  max-width: 635px;
  }
  .f-territorios img:last-of-type{
	position: absolute;
    right: 0px;
    z-index: 17;
    width: 658px;
  }
  #block-revivegalleria .taxonomy-term {
    padding: 20px 20px;
    max-width: 25%;
 }
 #block-bumbum-theme-reviveiframe .layout__region {
    padding: 65px 60px;
}
div[id*='reproductor'] .layout--onecol:last-of-type{
	padding: 50px 0 200px 0;
    height: 40px;
    border-bottom: 2px solid #fdda24;
	margin-top: 350px;
}
}
}
@media (min-width: 1850px) {
  .container {
    max-width: 100%;
  }
  #block-revivegalleria .taxonomy-term {
    padding: 20px 20px;
    max-width: 20%;
 }
 .site-branding img {
    max-height: 80px;
    width: 125px;
  }
  .full {
    margin-bottom: 0em;
  }
  .cont-menu{
	  position: absolute;
      z-index: 16;
	  background: rgba(0,0,0,0.3);
  }
  ul.main-menu > li {
	  margin-right: 0px;
	  text-align: center;
      min-width: 100px;
      padding: 0 20px 0 20px;
  }
  /*ul.main-menu > li:last-of-type {
	  border-radius: 20px;
	  background: #fdda24;
  }
  ul.main-menu > li:last-of-type > a {
	  color:#272422;
  }*/
  .cont-block{
	padding: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }
  #block-bumbum-theme-views-block-header-bum-bum-block-1 p{
	font-weight: 400;
    font-size: 2em;
    line-height: 1;
    padding-top: 30px;
  }
  .page-header .cont-block p{
	font-size: 1em;
    text-align: left;
    color: #272422;
    font-weight: 200;
  }
  .page-header .cont-block{
	padding: 65px 60px;
    justify-content: start;
  }
  .page-header .item-dos-tercios img{
	width: 100%;
	max-height: 500px;
    object-fit: cover;
  }
  .cont-block h1{
	color: #272422;
	font-weight:700;
  }
  .cont-block h2{
	color: #272422;
	padding-bottom: 1em;
	font-weight:700;
	text-align: left;
  }
  .cont-block p{
	font-size: 1em;
    text-align: justify;
	color: #272422;
  }
  .cont-block a{
	color: #272422;
    background: #ffffff;
    border-radius: 20px;
    padding: 0.6em 3em;
    border: none;
	width: fit-content;
  }
  .footer .item-footer .cont-block {
    padding: 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: fit-content;
    width: fit-content;
  }
  .full .item-60.white-background{
	  display: flex;
  }
  .item-40 .cont-block{
	  padding: 40px;
  }
  .f-territorios img:first-of-type{
		object-fit: cover;
		object-position: right;
		width: 16%;
		display:block;
  }
  .f-territorios .cont-block{
	  padding: 100px;
  }
  .cont-terr {
	  max-width: 934px;
  }
  .f-territorios img:last-of-type{
	position: absolute;
    right: 0px;
    z-index: 17;
    width: 787px;
  }
  #block-revivegalleria .taxonomy-term {
    padding: 20px 20px;
    max-width: 25%;
 }
 #block-bumbum-theme-reviveiframe .layout__region {
    padding: 65px 60px;
}
.item-60 .item-40 {
    padding: 70px;
  }
  div[id*='reproductor'] .layout--onecol:nth-child(2) .layout__region--content{
	  top: 50%;
  }
  div[id*='reproductor'] .layout--onecol:last-of-type {
    padding: 200px;
    height: 40px;
    border-bottom: 2px solid #fdda24;
    margin-top: 300px;
 }
}
@media (min-width: 1920px) {
  .site-branding {
    margin: 1em 1.3em;
  }
  .site-branding img {
    max-height: 80px;
    width: 100px;
  }
  .container {
    max-width: 100%;
  }
  .full {
    margin-bottom: 0em;
  }
  .cont-menu{
	  position: absolute;
      z-index: 16;
	  background: rgba(0,0,0,0.3);
  }
  ul.main-menu > li {
	  margin-right: 40px;
	  text-align: center;
      min-width: 100px;
      padding: 0 20px 0 20px;
  }
  /*ul.main-menu > li:last-of-type {
	  border-radius: 20px;
	  background: #fdda24;
  }
  ul.main-menu > li:last-of-type > a {
	  color:#272422;
  }*/
  .f-territorios .cont-block{
	padding: 100px;
  }
  .cont-block{
	padding: 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }
  #block-bumbum-theme-views-block-header-bum-bum-block-1 p{
	font-weight: 400;
    font-size: 2.5em;
    line-height: 1;
    padding-top: 30px;
  }
  .page-header .cont-block p{
	font-size: 1em;
    text-align: left;
    color: #272422;
    font-weight: 200;
  }
  .page-header .cont-block{
	padding: 30px 100px;
    justify-content: start;
  }
  .ses-head .cont-block{
	padding: 84px 30px;
  }
  .ses-head .cont-block h2{
	text-align: left;
    max-width: 50px;
    line-height: initial;
	padding-bottom: 0;
  }
  .ses-head .cont-block p{
	font-size: 1em;
	font-weight: 200;
  }
  .ses-head img{
	object-position: center;
  }
  .rev-head .cont-block{
	padding: 100px;
  }
  .rev-head .cont-block h2{
	text-align: left;
    line-height: initial;
  }
  .rev-head .cont-block p{
	font-size: 1em;
	font-weight: 200;
  }
  .rev-head .item-dos-tercios img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: 50% 82%;
}
  .page-header .item-dos-tercios img{
	width: 100%;
	max-height: 500px;
    object-fit: cover;
  }
  .cont-block h1{
	color: #272422;
	font-weight:bold;
  }
  .cont-block h2{
	color: #272422;
	padding-bottom: 1em;
	font-weight:bold;
  }
  .cont-block p{
	font-size: 1em;
    text-align: justify;
	color: #272422;
  }
  .cont-block a{
	color: #272422;
    background: #ffffff;
    border-radius: 20px;
    padding: 0.6em 3em;
    border: none;
	width: fit-content;
  }
  .full .item-60.white-background{
	  display: flex;
  }
  .item-40 .cont-block{
	  padding: 40px;
  }
  .f-territorios img:first-of-type{
		object-fit: cover;
		object-position: right;
		width: 16%;
		display:block;
  }
  .cont-terr {
	  max-width: 996px;
  }
  .f-territorios img:last-of-type{
	position: absolute;
    right: 0px;
    z-index: 17;
    width: 789px;
  }
  #block-revivegalleria .taxonomy-term {
    padding: 20px 20px;
    max-width: 16%;
  }
  .item-60 .item-40 {
    padding: 70px;
  }
  div[id*='reproductor'] .layout--onecol:nth-child(2) .layout__region--content{
	  top: 50%;
  }
  div[id*='reproductor'] .layout--onecol:last-of-type {
    padding: 200px;
    height: 40px;
    border-bottom: 2px solid #fdda24;
    margin-top: 300px;
 }
}
