<!-- Start: Header -->
<header class="header">
  <div class="container cont-menu">
    <div class="header-main">
    {% if page.site_branding %}
      <div class="site-brand">
        {{ page.site_branding }}
      </div> <!--/.site-branding -->
    {% endif %}
    {% if page.primary_menu %}
      <div class="header-main-right">
        {% if page.primary_menu %}
          <div class="mobile-menu"><i class="icon-menu"></i></div> {# mobile-menu #}
          <div class="primary-menu-wrapper">
            <div class="menu-wrap">
              <div class="close-mobile-menu">x</div>
              {{ page.primary_menu }}
            </div> <!-- /.menu-wrap -->
          </div> <!-- /.primary-menu-wrapper -->
        {% endif %}
      </div> <!-- /.header-right -->
    {% endif %}
    </div> <!-- /.header-main -->
  </div> <!-- /.container -->
  {% include '@bumbum_theme/template-parts/page_header.html.twig' %}
</header>
<!-- End: Header -->
